<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>onegyrol84@tznvy.pbz</string>
	<key>contactName</key>
	<string>Ben Batschelet</string>
	<key>description</key>
	<string>Syntax highlighting and snippets for Zephir</string>
	<key>name</key>
	<string>Zephir</string>
	<key>uuid</key>
	<string>1B70BC37-6559-42F3-99D5-E3E13F5EB63F</string>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>9D994058-51F6-3419-BEC8-8D3F3AE431B8</string>
			<string>1969D216-D2C2-3051-BBD9-E3E4FC2BE946</string>
			<string>F3D72E37-CC37-337F-97A8-B2F2A374A746</string>
			<string>------------------------------------</string>
			<string>29B0E3CC-A4B7-3EB2-BBAA-0453C8005858</string>
			<string>B26A4067-8FD8-3FA7-A681-A90FBE64DD0A</string>
			<string>2E6F11CC-97C8-3385-A3F3-C6E4E3186F06</string>
			<string>C4FC7E13-23BE-3FFB-84C5-BB26601652FB</string>
			<string>------------------------------------</string>
			<string>A48FF001-2FB0-330B-9031-8EFA5912686A</string>
			<string>5293CD53-0763-35F8-98E7-0F153309D33B</string>
			<string>------------------------------------</string>
			<string>AFCC954A-C4D3-3E34-B9D3-92AE032BCE9C</string>
			<string>CFD87851-A87D-389F-9A7A-41F2199D34BC</string>
			<string>------------------------------------</string>
			<string>8C7604E0-80C9-3734-B23E-EFF6BAADA6F8</string>
			<string>2B95DC53-C362-3E67-9E07-D80B3B99265A</string>
		</array>
	</dict>
	<key>source</key>
	<dict>
		<key>method</key>
		<string>git</string>
		<key>url</key>
		<string>git@github.com:bbatsche/Zephir.tmbundle.git</string>
	</dict>
</dict>
</plist>
